.git
.gitignore
.devcontainer
.vscode
.venv
venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.env

data/raw
data/processed
models
runs
wandb
outputs

*.pt
*.bin
*.safetensors
*.ckpt
*.log
README.md
docs
